<center>
<h1>
<p style = "font-family:courier;">
Klikkaa nappulaa jos tänään on sinun <br> 20-vuotissyntymäpäiväsi. <br> Jännitys on käsinkosketeltavaa...
</p>
</h1>

<form method="get" action="/onnittelut/new">
    <button type="submit">Tämä on se nappula!</button>
</form>
