<center>
<h1>
<p style = "font-family:courier;">
Klikkaa nappulaa jos tänään on sinun 20v-synttärit!
</p>
</h1>

<form method="get" action="/onnittelut/new">
    <button type="submit">Tämä on se nappula!</button>
</form>
